<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="kund">
    <table>
        <th th:text="${name}"></th>
        <tbody>
        <tr>
            <td th:text="${kund.epost}"></td>
        </tr>
        <tr>
            <td th:text="${kund.telefonnummer}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="rumFound" th:unless="${#lists.isEmpty(rumFound)}">
    <table>
        <th>Rum</th>
        <tbody th:each="rum : ${rumFound}">
        <tr>
            <td th:text="${rum.id}"></td>
            <td>
                <a th:href="@{/kunder/postBokning/{id}(id=${rum.id})}">Boka</a>
            </td>
        </tbody>
    </table>
</div>
</body>
</html>