<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="kund">
    <table>
        <th th:text="${kund.name}"></th>
        <tbody>
        <tr>
            <td th:text="${kund.epost}"></td>
        </tr>
        <tr>
            <td th:text="${kund.telefonnummer}"></td>
        </tr>
        <tr>
            <td th:text="${date} +' to '+ ${endDate}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="rumFound" th:unless="${#lists.isEmpty(rumFound)}">
    <table>
        <th>Rum</th>
        <tbody th:each="rum : ${rumFound}">
        <tr>
            <td th:text="'RumNr: '+ ${rum.id}"></td>
            <td>
                <form action="/kunder/postBokning" method="post">
                    <input type="hidden" id="kund.id" name="kund.id" th:value="${kund.id}">
                    <input type="hidden" id="rum.id" name="rum.id" th:value="${rum.id}">
                    <input type="hidden" id="date" name="date" th:value="${date}">
                    <input type="hidden" id="endDate" name="endDate" th:value="${endDate}">
                    <input type="submit" value="boka">
                </form>
            </td>
        </tbody>
    </table>
</div>
</body>
</html>