<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Kunder</h1>
<form action="postKund" method="post">
    <label for="namn">Namn</label>
    <input type="text" id="namn" name="namn"><br>
    <label for="epost">E-post</label>
    <input type="text" id="epost" name="epost"><br>
    <label for="telefonummer">Telefonummer</label>
    <input type="text" id="telefonummer" name="telefonummer"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>