<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${name}"></h2>
<div class="allKunder" th:unless="${#lists.isEmpty(allKunder)}">
    <table>
        <th th:text="${name}"></th>
        <tbody>
        <tr th:each="kund : ${allKunder}">
            <td th:text="${kund.name}">

            </td>
            <td>
                <a th:href="@{/kunder/updateKund/{id}(id=${kund.id})}">Update</a>
            </td>
            <td>
                <a th:href="@{/kunder/deleteKund/{id}(id=${kund.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <a th:href="@{/kunder/addKund}">Add Kund</a>
    </p>
</div>

</body>
</html>