<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="allKunder" th:unless="${#lists.isEmpty(allKunder)}">
    <table>
        <th th:text="${name}"></th>
        <tbody th:each="kund : ${allKunder}">
        <tr>
            <td th:text="${kund.name}">
            </td>
            <td>
                <a th:href="@{/kunder/updateKund/{id}(id=${kund.id})}">Update Info</a>
                <a th:href="@{/kunder/deleteKund/{id}(id=${kund.id})}" th:unless="${!#lists.isEmpty(kund.bokningar)}">Delete</a>
            </td>
        </tr>
        <tr th:each="bokning : ${kund.bokningar}">
            <td th:text="'Date: '+ ${bokning.date} +' to ' + ${bokning.endDate}"></td>
            <td th:text="'RumNr: '+ ${bokning.rum}"></td>
            <td th:text="${bokning.type}+','"></td>
            <td th:text="'Extra Sängar: '+${bokning.extraBeds} "></td>
            <td>
                <a th:href="@{/kunder/deleteBokning/{id}(id=${bokning.id})}">Avboka</a>
                <a th:href="@{/kunder/updateBokning/{id}(id=${bokning.id})}">Update</a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/kunder/addBokning/{id}(id=${kund.id})}">Add Bokning</a>
            </td>
        </tr>
       <tr>
            <td>--------------------------</td>
        </tr>
        </tbody>
    </table>
</div>
<p>
    <a th:href="@{/kunder/addKund}">Add Kund</a>
</p>

</body>
</html>