<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="kund">
  <table>
    <th th:text="${name}"></th>
    <tbody>
    <tr>
      <td th:text="${bokning.date}"></td>
    </tr>
    <tr>
      <td th:text="${bokning.rum.id}"></td>
    </tr>
    </tbody>
  </table>
</div>
<form action="/kunder/postBokning" method="post">
  <input type="hidden" id="id" name="id" th:value="${bokning.id}">
  <input type="hidden" id="kundId" name="kund.id" th:value="${bokning.kund.id}">
  <label for="date">Date</label>
  <input type="date" id="date" name="date" th:value="${bokning.date}"><br>
  <label for="endDate" >End Date</label>
  <input type="date" id="endDate" name="endDate" th:value="${bokning.endDate}"><br>
  <label for="rum.id" >Rum</label>
  <input type="text" id="rum.id" name="rum.id" th:value="${bokning.rum.id}"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>